@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #ffffff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

.input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}
.input-wrapper h3 {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
  opacity: 0.5;
  color: #04111E;
}
.input-wrapper .input-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 46%;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input {
  width: 100%;
  border: 0.1px solid #afc1c9;
  height: 50px;
  padding-left: 16px;
  font-size: 20px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  color: #04111E;
  border-radius: 4px;
}
.form-input__error {
  text-align: right;
  color: #E22135;
  font-weight: 700;
  font-size: 16px;
  height: 15px;
}
.form-input::-moz-placeholder {
  opacity: 0.5;
  font-size: 16px;
  font-weight: 700;
  color: #04111E;
}
.form-input::placeholder {
  opacity: 0.5;
  font-size: 16px;
  font-weight: 700;
  color: #04111E;
}
.form-input:focus-visible {
  border: 1px solid #5e696e;
  outline: 0;
}

.submit {
  background-color: #E22135;
  border: none;
  font-size: 20px;
  font-weight: 700;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #ffffff;
  height: 52px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s;
  width: 100%;
  position: relative;
  border-radius: 4px;
}
.submit img {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s, right 0.3s;
}
@media (min-width: 992px) {
  .submit:hover {
    background-color: #881521;
  }
  .submit:hover img {
    opacity: 1;
    right: 15px;
  }
}

.preheader {
  width: 100%;
  background-color: #ECF0F1;
  padding: 13px 0px;
  position: relative;
}
.preheader__text {
  font-size: 12px;
  color: #04111E;
  opacity: 0.5;
}
.preheader__text .close-icon {
  position: absolute;
  right: 64px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.header {
  width: 100%;
  padding-top: 38px;
}
.header__logo {
  display: flex;
  justify-content: space-between;
  width: 313px;
  align-items: baseline;
}
.header__logo .name {
  font-size: 24px;
  font-weight: 700;
  color: #04111E;
}

.hero-section {
  padding: 72px 0px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.hero-section__offer {
  width: 512px;
}
.hero-section__offer__subtitle {
  font-style: italic;
  font-size: 16px;
  font-weight: 500;
  color: #1866C2;
}
.hero-section__offer__heading {
  margin: 2px 0px 13px 0px;
  font-size: 64px;
  font-weight: 700;
  color: #04111E;
}
.hero-section__offer__text {
  font-size: 16px;
  font-weight: 400;
  color: #04111E;
  line-height: 22.4px;
}
.hero-section__offer .plumber-img {
  display: none;
}
.hero-section__form {
  height: 418px;
  width: 424px;
  background-color: #fff;
  box-shadow: 0px 4px 100px 0px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 32px 30px;
}
.hero-section__form__heading {
  color: #04111E;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 31px;
}
.hero-section__form__subtitle {
  color: #04111E;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}
.hero-section__form .input-wrapper {
  margin-bottom: 7px;
}
.hero-section__form .submit {
  margin-bottom: 15px;
}
.hero-section__form__footer-text {
  color: #04111E;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  opacity: 0.5;
}
.hero-section__services {
  display: flex;
  gap: 25px;
  width: 665px;
  margin-top: 50px;
}
.hero-section__services__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: left;
  width: 125px;
}
.hero-section__services__item img {
  height: 64px;
  width: 64px;
}
.hero-section__services__item span {
  color: #04111E;
  font-size: 16px;
  font-weight: 400;
}
.hero-section .plumber-img {
  position: absolute;
  top: 0;
  z-index: -1;
  right: 135px;
}
.hero-section::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(4, 17, 30, 0.5);
  z-index: -1;
}

.recommendations {
  padding-top: 82px;
}
.recommendations__statistics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
.recommendations__statistics__customers {
  font-size: 40px;
  font-weight: 600;
  color: #04111E;
}
.recommendations__statistics__customers span {
  color: #1866C2;
  font-weight: 700;
}
.recommendations__statistics__reviews {
  color: #04111E;
  font-size: 24px;
  font-weight: 400;
}
.recommendations__statistics__reviews span {
  font-weight: 600;
}
.recommendations__reviews {
  display: flex;
  justify-content: space-between;
  gap: 13px;
  margin-bottom: 101px;
}
.recommendations__reviews .review {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.recommendations__reviews .review__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #04111E;
}
.recommendations__reviews .review__date {
  font-weight: 600;
  font-style: italic;
  color: #04111E;
}
.recommendations__form {
  height: 312px;
  text-align: center;
  background: #FFF;
  box-shadow: 0px 4px 100px 0px rgba(0, 0, 0, 0.05);
  padding: 50px 110px;
}
.recommendations__form__subtitle {
  color: #04111E;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.5;
  margin-bottom: 13px;
}
.recommendations__form__header {
  font-size: 32px;
  font-weight: 600;
  color: #04111E;
  margin-bottom: 51px;
}
.recommendations__form__input {
  display: flex;
  gap: 18px;
}
.recommendations__form__input .form-input, .recommendations__form__input .submit {
  flex: 1;
  height: 60px;
}

.about-us {
  padding-top: 63px;
  display: flex;
  flex-direction: column;
  gap: 62px;
}
.about-us__upper-section {
  display: flex;
  gap: 77px;
}
.about-us__upper-section__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about-us__upper-section__text h2 {
  color: #04111E;
  font-size: 40px;
  font-weight: 600;
}
.about-us__upper-section__text p {
  color: #04111E;
  font-weight: 400;
  font-size: 16px;
}
.about-us__lower-section {
  display: flex;
  justify-content: space-between;
}

.faq-section {
  padding-top: 140px;
  padding-bottom: 50px;
  display: flex;
  gap: 68px;
}
.faq-section__contact-us {
  width: 470px;
  flex: 1;
}
.faq-section__contact-us h3 {
  color: #1866C2;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}
.faq-section__contact-us__wrapper .heading {
  font-weight: 600;
  font-size: 40px;
  color: #04111E;
  line-height: 56px;
  margin-bottom: 28px;
}
.faq-section__contact-us__wrapper .submit {
  margin-bottom: 30px;
}
.faq-section__contact-us p {
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  opacity: 0.5;
  color: #04111E;
}
.faq-section__accardion {
  flex: 2;
  overflow: hidden;
}
.faq-section__accardion__tab input[type=checkbox] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.faq-section__accardion__tab input[type=checkbox]:checked + label + .faq-section__accardion__tab__content {
  max-height: 500px;
  height: auto;
}
.faq-section__accardion__tab input[type=checkbox]:checked + .faq-section__accardion__tab__label::after {
  transform: rotate(360deg);
}
.faq-section__accardion__tab:not(:last-child) {
  border-bottom: 1px solid #D7E2E4;
}
.faq-section__accardion__tab__label {
  display: flex;
  color: #04111E;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding: 21px;
  position: relative;
}
.faq-section__accardion__tab__label::after {
  content: url("../icons/chevron.svg");
  text-align: center;
  transform: rotate(180deg) translateY(50%);
  transition: rotate 0.3s;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 50%;
}
.faq-section__accardion__tab__content {
  max-height: 0px;
  height: 0px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  padding: 0px 0px 0px 21px;
  line-height: 25.6px;
  font-size: 16px;
  font-weight: 400;
  color: #04111E;
  width: 701px;
}

.footer {
  background: rgba(236, 240, 241, 0.3);
  padding: 38px 0px 21px 0px;
}
.footer .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer__logo {
  display: flex;
  justify-content: space-between;
  width: 313px;
  align-items: baseline;
}
.footer__logo .name {
  font-size: 24px;
  font-weight: 700;
  color: #04111E;
}
.footer__middle-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 43px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.footer__middle-section p {
  font-size: 14px;
  width: 412px;
  opacity: 0.5;
}
.footer__middle-section__companies {
  display: flex;
  gap: 50px;
}
.footer__copyright-section {
  display: flex;
  justify-content: space-between;
}
.footer__copyright-section .copyright {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.5;
  color: #04111E;
}
.footer__copyright-section .links {
  display: flex;
  gap: 40px;
}
.footer__copyright-section .links a {
  color: #04111E;
  opacity: 0.5;
}
.footer__copyright-section .social-links {
  display: flex;
  gap: 32px;
}
.footer__copyright-section .social-links a img {
  opacity: 0.5;
}

@media (max-width: 991.98px) {
  .container {
    width: 100%;
  }
  .preheader__text {
    font-size: 10px;
  }
}
@media (max-width: 991.98px) {
  .header {
    padding-top: 16px;
  }
  .header__logo {
    justify-content: unset;
    width: unset;
    gap: 9px;
  }
  .header__logo .image {
    height: 25px;
    width: 45px;
  }
  .header__logo .image img {
    width: 100%;
    height: 100%;
  }
  .header__logo .name {
    font-size: 18px;
  }
}
@media (max-width: 991.98px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    padding: unset;
    padding-top: 50px;
    position: unset;
    overflow: unset;
  }
  .hero-section__offer {
    width: unset;
    position: relative;
  }
  .hero-section__offer__subtitle {
    font-size: 12px;
  }
  .hero-section__offer__heading {
    font-size: 36px;
    margin-top: 9px;
    margin-bottom: 9px;
    width: 75%;
  }
  .hero-section__offer__text {
    font-size: 14px;
    margin-bottom: 15px;
    width: 75%;
  }
  .hero-section__offer .plumber-img.mobile {
    display: block;
    right: -72px;
    height: 100%;
    opacity: 0.5;
    z-index: unset;
  }
  .hero-section__form {
    height: unset;
    width: unset;
    position: unset;
    transform: none;
    padding: 39px 0px;
  }
  .hero-section__form__heading {
    font-size: 20px;
    margin-bottom: 8px;
  }
  .hero-section__form__subtitle {
    font-size: 14px;
    margin-bottom: 17px;
  }
  .hero-section__form .input-wrapper h3 {
    font-size: 14px;
  }
  .hero-section__form .submit {
    font-size: 16px;
  }
  .hero-section__form__footer-text {
    font-size: 14px;
  }
  .hero-section__services {
    width: 300px;
    flex-wrap: wrap;
    margin: 29px auto 0 auto;
    justify-content: space-between;
  }
  .hero-section__services__item {
    align-items: center;
    gap: 30px;
  }
  .hero-section__services__item span {
    text-align: center;
  }
  .hero-section .plumber-img {
    display: none;
  }
  .hero-section::before {
    display: none;
  }
}
@media (min-width: 820px) and (max-width: 991.98px) {
  .hero-section__services {
    width: unset;
    flex-wrap: nowrap;
    margin: 29px auto;
    gap: 60px;
  }
}
@media (max-width: 991.98px) {
  .recommendations {
    padding-top: 39px;
  }
  .recommendations__statistics {
    flex-direction: column;
    align-items: unset;
    margin-bottom: 27px;
  }
  .recommendations__statistics__customers {
    font-size: 20px;
    margin-bottom: 6px;
  }
  .recommendations__statistics__reviews {
    font-size: 16px;
  }
  .recommendations__reviews {
    flex-direction: column;
    gap: 27px;
    margin-bottom: 47px;
  }
  .recommendations__reviews .review__text {
    width: 355px;
    font-size: 14px;
  }
  .recommendations__reviews .review__date {
    font-size: 14px;
  }
  .recommendations__form {
    width: calc(100% + 32px);
    margin: 0px 16px 0px -16px;
    padding: 30px 17px;
    height: unset;
  }
  .recommendations__form__subtitle {
    font-size: 14px;
  }
  .recommendations__form__header {
    font-size: 20px;
  }
  .recommendations__form__input {
    flex-direction: column;
  }
  .recommendations__form__input .form-input, .recommendations__form__input .submit {
    flex: unset;
    height: 54px;
  }
  .recommendations__form__input .submit {
    font-size: 16px;
  }
}
@media (min-width: 820px) and (max-width: 991.98px) {
  .recommendations__statistics {
    align-items: center;
    flex-direction: row;
  }
  .recommendations__statistics__customers {
    margin-bottom: unset;
  }
  .recommendations__reviews {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 991.98px) {
  .about-us {
    padding-top: 66px;
    gap: 29px;
  }
  .about-us__upper-section__text h2 {
    font-size: 20px;
  }
  .about-us__upper-section__text p {
    font-size: 14px;
  }
  .about-us__upper-section__photo {
    display: none;
  }
  .about-us__lower-section {
    flex-wrap: wrap;
    gap: 22px;
    justify-content: unset;
  }
  .about-us__lower-section__item {
    width: 168px;
    height: 168px;
  }
  .about-us__lower-section__item img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 991.98px) {
  .faq-section {
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    gap: 30px;
  }
  .faq-section__contact-us {
    width: unset;
  }
  .faq-section__contact-us h3 {
    font-size: 14px;
    font-weight: 500;
  }
  .faq-section__contact-us__wrapper {
    display: flex;
    gap: 30px;
    width: 100%;
    align-items: center;
    margin-bottom: 24px;
  }
  .faq-section__contact-us__wrapper .heading {
    font-size: 18px;
    width: 217px;
    line-height: 25.2px;
    margin-bottom: unset;
  }
  .faq-section__contact-us__wrapper .submit {
    width: 120px;
    font-size: 14px;
    margin-bottom: unset;
  }
  .faq-section__contact-us p {
    font-size: 14px;
  }
  .faq-section__accardion__tab__label {
    font-size: 14px;
    padding: 16px 0px;
    line-height: 19.6px;
  }
  .faq-section__accardion__tab__content {
    font-size: 14px;
    width: unset;
    padding-left: 0;
    line-height: 19.2px;
  }
}
@media (min-width: 820px) and (max-width: 991.98px) {
  .faq-section__contact-us__wrapper {
    margin-bottom: 20px;
    align-items: center;
  }
  .faq-section__contact-us__wrapper .heading {
    flex: 1;
  }
  .faq-section__contact-us__wrapper .submit {
    flex: 1;
  }
}
@media (max-width: 991.98px) {
  .footer {
    padding-top: 36px;
  }
  .footer .container {
    gap: 24px;
  }
  .footer__logo {
    justify-content: unset;
    width: unset;
    gap: 9px;
  }
  .footer__logo .image {
    height: 25px;
    width: 45px;
  }
  .footer__logo .image img {
    width: 100%;
    height: 100%;
  }
  .footer__logo .name {
    font-size: 18px;
  }
  .footer__middle-section {
    flex-direction: column;
  }
  .footer__middle-section p {
    width: unset;
    font-size: 14px;
    margin-bottom: 27px;
  }
  .footer__middle-section__companies {
    justify-content: space-between;
    width: 100%;
    gap: unset;
  }
  .footer__middle-section__companies img:not(:first-child) {
    width: 60px;
  }
  .footer__copyright-section {
    flex-direction: column;
    gap: 16px;
    justify-content: unset;
  }
  .footer__copyright-section .copyright {
    font-size: 14px;
  }
  .footer__copyright-section .links {
    font-size: 14px;
    gap: unset;
    width: 100%;
    justify-content: space-between;
  }
}
@media (max-width: 991.98px) {
  .container {
    padding: 0px 16px;
  }
}/*# sourceMappingURL=style.css.map */