@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

$main-font: 'Plus Jakarta Sans', sans-serif;

$primary-color: #E22135;
$secondary-color: #1866C2;
$text-color: #04111E;

$primary-color-hover: #881521;
$error-color: #E22135;

$font-size-heading-1-xl: 64px;
$font-size-heading-1-sm: 36px;
$font-size-heading-2-xl: 28px;
$font-size-heading-2-sm: 20px;
$font-size-extra-large: 24px;
$font-size-large: 20px;
$font-size-medium: 16px; 
$font-size-small: 14px;
$font-size-extra-small: 12px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$transition-delay: .3s;

$text-opacity: 0.5;