@media (max-width: 719px) {
    .recommendations {
        &__form {
            &__input {
                .submit {
                    flex: unset;
                }
            }
        }
    }
}


@media (max-width: 1100.98px) {
    .recommendations {
        padding-top: 39px;

        &__statistics {
            flex-direction: column;
            align-items: unset;
            margin-bottom: 27px;

            &__customers {
                font-size: 20px;
                margin-bottom: 6px;
            }

            &__reviews {
                font-size: 16px;
            }
        }

        &__reviews {
            flex-direction: column;
            gap: 27px;
            margin-bottom: 47px;

            .review {
                &__text {
                    width: 355px;
                    font-size: 14px;
                }

                &__date {
                    font-size: 14px;
                }
            }
        }

        &__form {
            width: calc(100% + 32px);
            margin: 0px 16px 0px -16px;
            padding: 30px 17px;
            height: unset;

            &__subtitle {
                font-size: $font-size-small;
            }

            &__header {
                font-size: 20px;
            }

            &__input {
                flex-direction: column;

                .form-input, .submit {
                    // flex: unset;
                    height: 54px;
                }

                .submit {
                    font-size: $font-size-medium;
                }
            }
        }
    }
}

@media (min-width: 720px) and (max-width: 1100.97px) {
    .recommendations {
        padding-top: 36px;

        &__statistics {
            flex-direction: row;
            align-items: center;
        }
        &__reviews {
            flex-direction: row;

            .review {
                gap: 10px;
                flex: 1;

                &__text {
                    width: unset;
                }
            }
        }

        &__form {
            &__header {
                margin-bottom: 38px;
            }

            &__input {
                flex-direction: row;
            }
        }
    }
}